<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imperials.worldofpets">

    <application
        android:allowBackup="true"
        android:icon="@drawable/petworld_logo"
        android:label="Pet World"
        android:roundIcon="@drawable/petworld_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Pet Wiki"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dogpage"
            android:exported="true"
            android:label="dogpage" />
        <activity
            android:name=".Catpage"
            android:exported="true" />
        <activity
            android:name=".Birdpage"
            android:exported="true" />
        <activity
            android:name=".Fishpage"
            android:exported="true" />
        <activity
            android:name=".Boxer"
            android:exported="true"
            android:label="Dog Page" />
        <activity
            android:name=".Germanshepard"
            android:exported="true"
            android:label="dogpage" />
        <activity
            android:name=".Greatdane"
            android:exported="true"
            android:label="dogpage" />
        <activity
            android:name=".Labrador"
            android:exported="true"
            android:label="dogpage" />
        <activity
            android:name=".Syberianhusky"
            android:exported="true"
            android:label="dogpage" />
        <activity
            android:name=".Goldenretriver"
            android:exported="true"
            android:label="dogpage" />
        <activity
            android:name=".About"
            android:exported="true"
            android:label="About" />
        <activity
            android:name=".MainPage"
            android:label="PetWorld" />
        <activity
            android:name=".MainActivity2"
            android:label="Pet Care"
            android:exported="true"/>
        <activity
            android:name=".MainActivity3"
            android:exported="true"
            android:label="Pet Care" />
        <activity android:name=".petfood"
            android:exported="true"
            android:label="petcare"/>
        <activity android:name=".petplay"
            android:exported="true"
            android:label="petcare"/>
        <activity android:name=".petvaccine"
            android:exported="true"
            android:label="petcare"/>
        <activity android:name=".pettoys"
            android:exported="true"
            android:label="petcare"></activity>
    </application>

</manifest>